.App,
.container {
  display: grid;
  height: 100vh;
  margin: 0em;
  place-items: center center;
}

.App {
  background: -webkit-linear-gradient(
    -180deg,
    rgb(235, 205, 217),
    rgb(232, 120, 65)
  );
  background: linear-gradient(-180deg, rgb(235, 205, 217), rgb(232, 120, 65));
}

h1 {
  font-size: 2em;
}

.container {
  background-color: #fff;
  width: 98vw;
  height: 98vh;
}
